= form_tag(search_planners_path, :method => "get", id: "search-form") do
  = text_field_tag :search, params[:search], placeholder: "Search Recipes"
  = submit_tag "Search", :name => nil


-# = search_form_for @search do |f|
-#   = f.label :title_cont
-#   = f.search_field :title_cont
-#   = f.submit
