!!!
%html
  %body
    = render "search_form"
    - if params[:search].present?
      - if @recipes.blank?
        No Results
      - else
        - @recipes.each do |recipe|
          = recipe.title
    #container
      #calendar
