.container
  .row
    .column
      - if params[:search].present?
        - if @recipes.blank?
          No Results
        - else
          %h2 Results
          - @recipes.each do |recipe|
            = link_to recipe.title, recipe_path(recipe)
            %br
