$dark: #424652;
$light: #B4DBC0;
$highlight: #B56357;
$border: #e9e9e9;
$rust: #B56357;
$mint: #B4DBC0;
$slate: #EAE3EA;
$sea_foam: #A7B3A5;


@import "normalize";
@import "milligram";
@import "planners";
@import "nav";
@import "forms";
@import "footer";
@import "flash";
@import "splash";
