.form{
  /*border-style: solid;*/
  background-color: #f3f3f3;
  padding: 2%;
  margin: 1%;
  width: 65%;
}

.form.title, .form.instructions{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.form.ingredient{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.formcolumn{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

input[type='email'],
input[type='password'],
input[type='search']{
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}
