// Place all the styles related to the planners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

p {
  margin: 0;
  padding: 0;
}

#rowheaders {
  width: 5%
}

.blanktext {
  color: transparent;
}

.meal_label {
  background: transparent;
  padding: 0.5em;
  margin: 0.25em;
  min-height: 6em;
  h3 {
    transform: rotate(-90deg);
  }
}

.day {
  width: 10%;
  float: left;
  background: salmon;
}

.meal {
  background: teal;
  padding: 0.5em;
  margin: 0.25em;
  min-height: 6em;
}
