// Place all the styles related to the planners controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

// p {
//   margin: 0;
//   padding: 0;
// }

body {
  font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  color: $dark;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.375rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

td.header{
  text-transform: uppercase;
  font-size: 1.3rem;
}

button {
  color: $light;
}

// .container {
//   padding-bottom: 5%;
//   padding-top: 6%;
// }

// .planner.container {
//   padding-bottom: 0;
// }

th{
  text-align: center;
}

td.morning, td.afternoon, td.evening {
  border: 0.5px solid #d1d1d1;
  word-wrap: normal;
  width: 14%;
  height: 130px;
  text-align: center;
}

td.header, td.blank {
  border-bottom: none;
  border-top: none;
  text-align: center;
}

.linkrecipemodify{
  font-size: 1.2rem;
}

.linkrecipe{
  font-size: 2.7rem;
}
